{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarDealership</title>

    <link type='text/css' href="{% static 'Customer/css/base.css' %}" rel="stylesheet" />
    {% block css %} 
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
            {% if is_buy %}
            {% elif user_authenticated %}
            {% else %}
            {% endif %}
        </ul>
        <ul>
            <li><a href="{% url 'main' %}"><b>CarDealership</b></a></li>
            {% if is_buy %}
                <li class="hideOnMobile"><a>Поставщик</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'add_dealer' %}">Добавить</a>
                        <li class="hideOnMobile"><a href="{% url 'add_car' %}">Добавить машину</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a>Список</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'dealer_cars' %}">Машин</a></li>
                        <li class="hideOnMobile"><a href="{% url 'get_dealers' %}">Поставщиков</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a href="{% url 'dealer_confirm' %}">Заявки</a></li>
                <li class="hideOnMobile"><a href="{% url 'dealer_history' %}">История продаж</a></li>
                <li class="hideOnMobile"><a href="{% url 'user_profile' %}">Профиль</a></li>
                <li class="last-logout"><a href="{% url 'logout' %}"><b>Выйти</b></a></li>
            {% elif is_director %}
                <li class="hideOnMobile"><a href="{% url 'director_history' %}">История действий работников</a></li>
                <li class="last-logout"><a href="{% url 'logout' %}"><b>Выйти</b></a></li>
            {% elif is_customer %}
                <li class="hideOnMobile"><a>Автосалон</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'create_dealership' %}">Добавить</a></li>
                        <li class="hideOnMobile"><a href="{% url 'get_dealerships' %}">Список</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a>Машины</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'dealer_cars' %}">Поставщиков</a></li>
                        <li class="hideOnMobile"><a href="{% url 'get_dealership_cars' %}">Автосалонов</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a href="">Подтверждение</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'confirm_trade' %}">Обмена</a>
                        <li class="hideOnMobile"><a href="{% url 'confirm_offer' %}">Покупки</a></li>
                        <li class="hideOnMobile"><a href="{% url 'confirm_credit' %}">Кредита</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a href="{% url 'dealership_requests' %}">Заявки на покупку у поставщиков</a></li>
                <li class="hideOnMobile"><a href="{% url 'get_dealership_history' %}">История продаж</a></li>
                <li class="hideOnMobile"><a href="{% url 'user_profile' %}">Профиль</a></li>
                <li class="last-logout"><a href="{% url 'logout' %}"><b>Выйти</b></a></li>
            {% elif user_authenticated %}
                <li class="hideOnMobile"><a>Заявки</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'create_offer' %}">Заявка на бронирование</a></li>
                        <li class="hideOnMobile"><a href="{% url 'create_credit' %}">Заявка на кредит</a></li>
                        <li class="hideOnMobile"><a href="{% url 'create_trade' %}">Заявка на обмен</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a>Просмотр</a>
                    <ul>
                        <li class="hideOnMobile"><a href="{% url 'get_customer_trade' %}">Мои машины на обмен</a></li>
                        <li class="hideOnMobile"><a href="{% url 'customer_requests' %}">Мои заявки</a></li>
                        <li class="hideOnMobile"><a href="{% url 'customer_history' %}">История покупок</a></li>
                    </ul>
                </li>
                <li class="hideOnMobile"><a href="{% url 'get_dealership_cars' %}">Список машин автосалона</a></li>
                <li class="hideOnMobile"><a href="{% url 'user_profile' %}">Профиль</a></li>
                <li class="last-logout"><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li class="hideOnMobile"><a href="{% url 'get_dealership_cars' %}">Список машин</a></li>
                <li class="hideOnMobile"><a href="{% url 'register' %}"><b>Регистрация</b></a></li>
                <p class="hideOnMobile">|</p>
                <li class="hideOnMobile"><a href="{% url 'login' %}"><b>Войти</b></a></li>
            {% endif %}
            <li class="menu-button" onclick="showSidebar()"><a><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
        </ul>
    </nav>

    {% block content %} 
    {% endblock %}
    <footer>
        <div class="text-center">
            <small>Copyright &copy; CarDealership</small>
        </div>
    </footer>
</body>
<script>
    function showSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'flex'
    }

    function hideSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'none'
    }
</script>
</html>