{% extends "Customer/base.html" %}
{% load static %}

{% block css %} 
    <link type='text/css' href="{% static 'Dealer/css/dealers.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %} 
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="header-item">Название</div>
                <div class="header-item">Локация</div>
                <div class="header-item"></div>
            </div>
            <div class="table-content">
                {% for dealership in page_obj %}
                    <div class="table-row">
                        <div class="table-data">
                            <a href="{% url 'get_dealership_cars' %}?car_dealership={{dealership.id}}">{{dealership.name}}</a>
                        </div>
                        <div class="table-data">
                            {{dealership.location}}
                        </div>
                        <div class="table-data">
                            <a href="{% url 'edit_dealership' dealership=dealership.name %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        {% include 'Dealer/pagination.html' %}
    </div>
{% endblock %}