{% extends "Customer/base.html" %}
{% load static %}

{% block css %} 
    <link type='text/css' href="{% static 'Dealer/css/add_car.css' %}" rel="stylesheet" />
{% endblock %}
{% block script %}
<script>
    function hide(){
        var alert = document.getElementById('alert')
        alert.style.display = "none"
    }
</script>
{% endblock%}

{% block content %} 
    <div class="container">
        {% block content %}
{% if messages %}
        <div class="alert" id="alert">
            {% for message in messages %}
            <div class="msg">{{message}}</div>
            {% endfor %}
            <div class="btn-ok"><button class="ok" onclick="hide()">Ок</button></div>
        </div>
    {% endif %}
    {% if context.errors %}
        <div class="alert" id="alert">
            {% for field in context %}
                {% for error in field.errors%}
                    <div class="msg">{% trans error %}</div>
                {% endfor %}
            {% endfor %}
            <div class="btn-ok"><button class="ok" onclick="hide()">Ок</button></div>
        </div>
    {% endif %}
        <div class="add form">
            <header>Добавить машину поставщика</header>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                {% for field in context1 %} 
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
                {% for field in context2 %} 
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}  
            <button class="button">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}