body{
    background-image: url('https://img2.akspic.ru/crops/0/2/3/7/7/177320/177320-bmw-bajerishe_motoren_verke_ag-legkovyye_avtomobili-bmv_m1-bmw_3_serii-1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: auto;
    width: auto;
}