.container{
    margin: 30px auto;
    width: 90%;
    max-width: 90vw;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.link{
    color: unset;
    text-decoration: none;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
}

.title-name{
    flex: 1;
    max-width: 400px;
}

.title-edit{
    flex: 2;
    max-width: 50px;
}

hr{
    height: 3px;
    background-color: black;
}

.detail{
    display: flex;
    gap: 50px;
    text-align: left;
}

.detail .image img{
    margin: 40px;
    width: 700px;
    height: 500px;
}

.detail .image{
    position: relative;
    flex: 1;
}

.content{
    background-color: white;
    flex: 2;
    margin: 40px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.content-field{
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
}

.content-title{
    font-weight: bold;
    font-size: 30px;
    padding-right: 20px;
}

.content-value{
    font-size: 30px;
}

