{% extends "Customer/base.html" %}
{% load static %}

{% block css %} 
    <link type='text/css' href="{% static 'Dealer/css/dealers.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %} 
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="header-item">Машина</div>
                <div class="header-item">Автосалон</div>
                <div class="header-item">Цена</div>
            </div>
            <div class="table-content">
                {% if not page_obj %}
                <div class="table-row">
                    <div class="table-data">
                        Пусто
                    </div>
                </div>
                {% endif %}
                {% for dealer in page_obj %}
                    <div class="table-row">
                        <div class="table-data">
                            <a>{{dealer.id_dealership_car.id_dealer_car.car.name}}</a>
                        </div>
                        <div class="table-data">
                            {{dealer.id_dealership_car.car_dealership.name}}
                        </div>
                        <div class="table-data">
                            {{dealer.cost}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        {% include 'Dealer/pagination.html' %}
    </div>
{% endblock %}