{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarDealership</title>
    
    <link type='text/css' href="{% static 'Customer/css/register_login.css' %}" rel="stylesheet" />
</head>
<body>
    {% if messages %}
        <div class="alert" id="alert">
            {% for message in messages %}
            <div class="msg">{{message}}</div>
            {% endfor %}
            <div class="btn-ok"><button class="ok" onclick="hide()">Ок</button></div>
        </div>
    {% endif %}
<div class="container">
    <div class="login form">
        <header>Авторизация</header>
        <form method="post">
            {% csrf_token %} 
            Псевдоним
            {{context.username}}
            Пароль
            {{context.password}}
            <a href="{% url 'forgot_password' %}">Забыли пароль?</a>
            <button class="button">Войти</button>
        </form>
        <div class="signup">
            <span class="signup">Нет аккаунта?
                <label><a href="{% url 'register' %}">Регистрация</a></label>
            </span>
        </div>
    </div>
</div>
</body>
<script>
    function hide(){
        var alert = document.getElementById('alert')
        alert.style.display = "none"
    }
</script>
</html>