{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarDealership</title>

    <link type='text/css' href="{% static 'Customer/css/register_login.css' %}" rel="stylesheet" />
</head>
<body>
    {% if messages %}
        <div class="alert" id="alert">
            {% for message in messages %}
            <div class="msg">{{message}}</div>
            {% endfor %}
            <div class="btn-ok"><button class="ok" onclick="hide()">Ок</button></div>
        </div>
    {% endif %}
    {% if context.errors %}
        <div class="alert" id="alert">
            {% for field in context %}
                {% for error in field.errors%}
                    <div class="msg">{% trans error %}</div>
                {% endfor %}
            {% endfor %}
            <div class="btn-ok"><button class="ok" onclick="hide()">Ок</button></div>
        </div>
    {% endif %}
<div class="container">
    <div class="registration form">
        <header>Регистрация</header>
        <form method="post">
            {% csrf_token %} 
            {% for field in context %} 
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <button class="button">Зарегистрироваться</button>
        </form>
        <div class="signup">
            <span class="signup">Уже есть аккаунт?
                <label><a href="{% url 'login' %}">Войти</a></label>
            </span>
        </div>
    </div>
</div>
</body>
<script>
    function hide(){
        var alert = document.getElementById('alert')
        alert.style.display = "none"
    }
</script>
</html>